.bubblyButton {
  font-family: "Helvetica", "Arial", sans-serif;
  display: block;
  font-size: 1em;
  padding: 15px 20px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #f09053;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px #9b4f21;
  margin-left: auto;
}
.bubblyButton:focus {
  outline: 0;
}
.bubblyButton::before,
.bubblyButton::after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.7s;
  background-repeat: no-repeat;
}
.bubblyButton::before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #f09053 20%, transparent 30%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%);
  background-size: 35% 35%, 45% 45%, 40% 40%, 45% 45%, 48% 48%, 55% 55%, 40% 40%,
    55% 55%, 48% 48%;
}
.bubblyButton::after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%),
    radial-gradient(circle, #f09053 20%, transparent 20%);
  background-size: 35% 35%, 45% 45%, 40% 40%, 45% 45%, 48% 48%, 55% 55%, 40% 40%,
    55% 55%, 48% 48%;
}
.bubblyButton:active {
  transform: scale(0.9);
  background-color: #f09053;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubblyButton.animate::before {
  display: block;
  animation: topBubbles ease-in-out 0.4s forwards;
}
.bubblyButton.animate::after {
  display: block;
  animation: bottomBubbles ease-in-out 0.2s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 15% 90%, 20% 90%, 20% 90%, 25% 90%, 35% 90%, 35% 90%,
      50% 90%, 65% 90%, 80% 90%;
  }
  25% {
    background-position: 50% 80%, 20% 50%, 10% 60%, 20% 30%, 20% 50%, 35% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  50% {
    background-position: 10% 80%, 10% 30%, 20% 50%, 30% 10%, 30% 30%, 35% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -20%, 30% 10%, 55% -20%, 70% -20%, 85% -20%,
      70% -20%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
